documents
dump
exp
data

## config
conf/slurm.*


## python
*.so
*.py[cod]
*$py.class
.pytest_cache/
__pycache__/


# Distribution / packaging
.Python
**/build/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
*.egg-info/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
.installed.cfg
*.egg
MANIFEST
.ninja_log
.ninja_deps
build.ninja

# C++
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

## editor
shellcheck*
*.vim
*.swp
.vscode*

## log
slurm-*.out
*.log
*.debug
*debug.*


# user-define
/cmd.sh
/path.sh
/run.sh
/db.sh
/asr.sh
